[submodule "carputils"]
	path = carputils
	url = https://HiroshiSeno@bitbucket.org/carpusers/carputils.git
	ignore = dirty
[submodule "examples/tutorials"]
	path = examples/tutorials
	url = https://HiroshiSeno@bitbucket.org/carpusers/tutorials.git
	ignore = dirty
[submodule "nb_carp"]
	path = nb_carp
	url = https://github.com/HiroshiSeno/nb_carp.git
	ignore = dirty
